osx_image: xcode10.2
language: swift
xcode_scheme: GPhotos-Example
xcode_workspace: Example/GPhotos.xcworkspace
xcode_destination: platform=iOS Simulator,OS=12.2,name=iPhone X
podfile: Example/Podfile

before_install:
- pod repo update

script:
- set -o pipefail && xcodebuild test -enableCodeCoverage YES ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint